@model IEnumerable<Student>
@{
    ViewData["Title"] = "Student";
}
<h1> @ViewBag.UserName @ViewBag.Role</h1>
<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p>Student Information</p>
</div>
<body>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="StudentRole" asp-action="ViewStudent">Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="StudentRole" asp-action="ViewCourse">Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="StudentRole" asp-action="ViewClass">Class</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</body>